<h1>Job <%= @job["code"] %></h1>

<div>
  <p>Title: <%= @job["title"] %></p>
  <p>ID: <%= @job["id"] %></p>
  <p>Description: <%= @job["description"] %></p>
  <p>Skills: <%= @job["skills"] %></p>
  <p>Salary: <%= @job["salary"] %></p>
  <p>Company: <%= @job["company"] %></p>
  <p>Level: <%= @job["level"] %></p>
  <p>Place: <%= @job["place"] %></p>
  <p>Date: <%= @job["date"] %></p>
  <p>Job Status: <%= @job["job_status"] %></p>
</div>

  
